app-title1 {
    display: block;
    height: 50px;
    border: 1px dashed #333;
    margin-bottom: 20px;
    padding: 10px;
}

app-title2 {
    display: block;
    height: 50px;
    border: 1px dashed #333;
    padding: 20px;
}