<form [formGroup]="userForm" (submit)="addUser()">
  <aside>User Form</aside>
  <label>username:</label>
  <input type="text" name="username" formControlName="username" />

  <label>firstname:</label>
  <input type="text" name="firstname" formControlName="firstname" />
  <span style="color:red" *ngIf="firstname.touched && firstname.errors?.required">firstname is required</span>
  <label>lastname:</label>
  <input type="text" name="lastname" formControlName="lastname" />
  <button type="button" (click)="addAddress()">+ Add Address</button>
  <div forArrayName="addresses">
    <app-address *ngFor="let addressForm of addresses.controls" [addressForm]="addressForm"></app-address>
  </div>

  <button type="submit" [disabled]="userForm.invalid">Add User</button>
</form>

<br/>

<form [formGroup]="searchForm">
  <label>Search Users</label>
  <input type="text" formControlName="search" />
</form>
