<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to weather example
  </h1>
</div>
<div style="width:800px; margin:0 auto; border: 1px dashed blue;padding:10px;">
  <label>City Name: </label>
  <input type="text" (keyup)="onCityNameChange($event)" [value]="appSelectors.cityName$ | async" style="margin-right:10px;" />
  <label>Country Code: </label>
  <input type="text" (keyup)="onCountryCodeChange($event)" [value]="appSelectors.coutryCode$ | async" />
  <p>
    Full Address: {{appSelectors.fullAddress$ | async}}
  </p>
</div>
<div style="width:800px; margin:10px auto; border: 1px dashed blue;padding:10px;background:#eee">
  <h2 style="text-align: center">Result</h2>
  <app-weather [weather]="appSelectors.weather$ | async" ></app-weather>
</div>
